@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
/* Custom theme */
@plugin "daisyui/theme" {
  default: true;
  --color-primary: #0149af;
  --color-secondary: #f3f3f3;
  --color-accent: #f9904e;
}
/* Custom theme */

.montserrat-news-paper {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
}

a.active {
  background: #c5c5c5;
}
